<div class="card bg-black bg-opacity-75 text-white p-5">
  <% if user_signed_in? %>
    <h1 class="display-2">Contact us</h1>
    <p class="lead">Join us for our upcoming events! We are thrilled to invite you to a series of unforgettable experiences filled with special moments, engaging activities, and extraordinary connections. These are perfect opportunities to explore, learn, and celebrate together. Don't miss out on these exceptional events! Your presence will add to the richness of our community gatherings, where ideas are shared, connections are forged, and memorable moments are created.</p>
  <% else %>
    <h1 class="display-2">Contact us</h1>
    <p class="lead">Join us for our upcoming events! We are thrilled to invite you to a series of unforgettable experiences filled with special moments, engaging activities, and extraordinary connections. These are perfect opportunities to explore, learn, and celebrate together. Don't miss out on these exceptional events! Your presence will add to the richness of our community gatherings, where ideas are shared, connections are forged, and memorable moments are created.</p>
  <% end %>
</div>